.bodypart{
    /* display: flex; */
    margin: auto;
    text-align: center;
    /* width: 100%; */
}



.box_container img{
    margin: 0.25rem;
    height: 85vh;
    object-fit:cover;
    border-radius: 1rem;
    margin-bottom: 1rem;
    
  }
  .otpbtn{
    /* display: flex;
    position: absolute;
    justify-content: top;
    align-items: start;
    left: 74%; */

    top:10rem;
    right:5rem;
    position: fixed;

  }
  .lmao h2 {
    color: red;
  }